Flask==0.8
Flask-Bcrypt==0.5.2
Flask-Login==0.1
Flask-SQLAlchemy==0.15
Flask-WTF==0.5.2
Jinja2==2.6
SQLAlchemy==0.7.5
WTForms==0.6.3
Werkzeug==0.8.3
distribute==0.6.24
gevent==0.13.6
greenlet==0.3.4
gunicorn==0.13.4
psycopg2==2.4.4
py-bcrypt==0.2
wsgiref==0.1.2
git+http://github.com/jaramir/pyBGG.git
