.topbar {
  height: 70px;
  line-height: 70px;
  border-bottom: 2px dashed black;
}

.topbar img {
  float: left;
}

.topbar span {
  float: right;
  font-size: 2.5em;
}

.matches {
  border: 1px solid black;
  border-collapse: collapse;
}
.matches th {
  padding: 5px;
  background-color: black;
  color: white;
}
.matches td {
  border: 1px solid black;
  padding: 5px;
}
.matches tbody tr:hover {
  background-color: #eee;
}
