<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <title>houserule.it - il social network dei giocatori</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="{{ static_url( 'base.css' ) }}" type="text/css">
  </head>
  <body>

    <div id="header">
      testata
    </div>

    <div id="main">
      {% block main %}
        qui non c'è niente da vedere..
      {% end %}
    </div>

    <div id="footer">
      piè di pagina
    </div>

  </body>
</html>
