{% extends "layout.html" %}

{% block body %}
  <ul id="menu">
    <li>
      <a href="{{ url_for( "match" ) }}">Organizza una partita</a>
    </li>
    {% if current_user.is_authenticated() %}
      <li>
        <a href="{{ url_for( "logout" ) }}">Esci</a>
      </li>
    {% else %}
      <li>
        <a href="{{ url_for( "register" ) }}">Registrati</a>
      </li>
      <li>
        <a href="{{ url_for( "login" ) }}">Accedi</a>
      </li>
    {% endif %}
  </ul>

  <table class="matches">
    <thead>
      <tr>
        <th>Gioco</th>
        <th>Location</th>
        <th>Organizzatore</th>
      </tr>
    </thead>
    <tbody>
      {% for match in matches %}
      <tr>
        <td>{{ match.game_name }}</td>
        <td>{{ match.location }}</td>
        <td>{{ match.user.username }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}
