{% extends "base.html" %}

{% block body %}
  <p>Benvenuto su HouseRule, il social network dei giocatori</p>
  <form action="/login" method="post">
    {{ xsrf_form_html() }}
    <table>
      <tr>
        <td>Nome utente</td>
        <td><input type="text" name="username" value="" /></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" name="password" value="" /></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Accedi" /></td>
      </tr>
    </table>
  </form>
  <p>{{ message }}</p>
  <p>Non ti sei ancora registrato?</p>
  <form action="/register" method="post">
    {{ xsrf_form_html() }}
    <table>
      <tr>
        <td>Nome utente</td>
        <td><input type="text" name="username" value="" /></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" name="password" value="" /></td>
      </tr>
      <tr>
        <td>E-Mail</td>
        <td><input type="text" name="email" value="" /></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Registrati" /></td>
      </tr>
    </table>    
  </form>
{% end %}

