<!doctype html>
<html>
  <head>
    <title>HouseRule</title>
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/main.css' ) }}" />
    <link rel="shortcut icon" href="{{ url_for( 'static', filename='media/favicon.ico' ) }}" />
    {% block css %}{% endblock %}
  </head>
  <body>

    <a href="{{ url_for( "index" ) }}">
      <img id="logo" src="{{ url_for( "static", filename="media/logo.jpg" ) }}">
    </a>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block body %}
      Questa pagina è stata lasciata volutamente bianca
    {% endblock %}

    <!-- google analytics start -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29493385-1']);
      _gaq.push(['_setDomainName', 'houserule.it']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- google analytics end -->

    <script type="text/javascript" src="{{ url_for( "static", filename="js/jquery-1.7.1.min.js" ) }}"></script>
    <script type="text/javascript" src="{{ url_for( "static", filename="js/jquery-ui-1.8.18.custom.min.js" ) }}"></script>
    <script type="text/javascript" src="{{ url_for( "static", filename="js/main.js" ) }}"></script>
    {% block js %}{% endblock %}

  </body>
</html>
