{% extends "layout.html" %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for( "static", filename="css/qunit.css" ) }}">
{% endblock %}

{% block body %}
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
{% endblock %}

{% block js %}
  <script src="{{ url_for( "static", filename="js/jquery.mockjax.js" ) }}"></script>
  <script src="{{ url_for( "static", filename="js/qunit.js" ) }}"></script>
  <script src="{{ url_for( "static", filename="js/test.js" ) }}"></script>
{% endblock %}
